# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/
.idea/

# macOS
.DS_Store

# Виртуальные окружения
venv/
env/
.venv/

# Дистрибутивы
build/
dist/
*.egg-info/